:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #213547;
  background-color: #f0f8ff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f0f8ff;
}

button {
  border-radius: 8px;
  border: 1px solid #87cefa;
  color: #213547;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 700;
  font-family: inherit;
  background-color: #d6dfe4;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #4682b4;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

.react-flow__node.selected {
  border: solid 3px #4682b4;
  border-radius: 7px;
}

.appflow .rightbar {
  display: flex;
  flex-direction: column;
  background-color: #e6f7ff;
  width: 30%;
}

.savingChange {
  font-size: 12px;
  background: #fcfcfc;
  color: #213547;
  background-color: #e6f7ff;
  padding: 15px 10px;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #87cefa;
}

.topbar {
  font-size: 12px;
  background-color: #e6f7ff;
  padding: 12px;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  border-bottom: 2px solid #87cefa;
}

.update {
  padding: 5px 15px;
  font-size: 12px;
  background: #fcfcfc;
  color-scheme: light dark;
  color: #213547;
  background-color: #e6f7ff;
  display: flex;
  flex-direction: column;
}

.update .back {
  display: flex;
  align-items: center;
  justify-content: start;
}

.redMessage {
  color: white;
  background: #ff6f61;
  font-size: 12px;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
}

.greenMessage {
  color: white;
  background: #98fb98;
  font-size: 12px;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
}

.appflow {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 50%;
}

.appflow aside {
  padding: 15px 10px;
  font-size: 12px;
  background: #fcfcfc;
  color-scheme: light dark;
  color: #213547;
  background-color: #e6f7ff;
  display: flex;
}

.appflow .description {
  margin: 10px;
  font-size: 12px;
}

.appflow .appnode {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffffff;
  border: 1px solid #4682b4;
  color: #4682b4;
  cursor: grab;
  transition: border-color 0.25s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90px;
}

.appnode:hover {
  border-color: #87cefa;
}
.appnode:focus,
.appnode:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.appflow .reactflow-wrapper {
  flex-grow: 1;
  height: 89%;
}

.appflow .selectall {
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .appflow {
    display: flex;
    flex-direction: row;
  }

  .rightbar {
    width: 20%;
    max-width: 250px;
  }
}
